body {
  text-align: center;
}

form {
  display: flex;
  margin: auto;
  width: 55%;
}

#table {
  display: block;
  align-items: center;
}

#filme {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: fixed;
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

#filme td, #filme th {
  font-size: 1em;
  border: 1px solid darkcyan;
  padding: 3px 7px 2px 7px;
}

#filme th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #8a96b8;
  color: #ffffff;
}

#filme tr.alt td {
  color: black;
  background-color: lightgrey;
}

#filme a {
  color: darkblue;
}

.checkbox {
  text-align: right;
}

.namefield{
    width: 100px;
    display: inline-block;
}
.shufflefield{
    width: 50px;
    display: inline-block;
    float: right;
}

fieldset, input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
fieldset {
    margin:0;
}

.project-box {
  display: inline-block;
  float: left;
  border: 2px solid darkcyan;
  padding: 10px;
  margin: 20px;
}